[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "sphinx-build -nW -b html . _build"  # for previews on now.sh
serve = "sphinx-autobuild . _build"          # for local development
lint = "pylama"
lint-requirements = "_scripts/lint_requirements.sh"
linkcheck = "sphinx-build -nW -b linkcheck . _build"

[packages]
sphinx = "*"
sphinx-tabs = "*"
sphinxemoji = "*"

[dev-packages]
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
pylama = "*"

[requires]
python_version = "3.7"  # ReadTheDocs runtime
