[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "sphinx-autobuild . _build"
lint = "pylama"
lint-requirements = "_scripts/lint_requirements.sh"
linkcheck = "sphinx-build -nW -b linkcheck . _build"

[packages]
# Pinning packages with ~= unless their version starts with 0.,
# then pinning each version strictly with ==
sphinx = "~=2.1.0"
sphinx-tabs = "~=1.1.10"

[dev-packages]
# Pinning packages with ~= unless their version starts with 0.,
# then pinning each version strictly with ==
sphinx-autobuild = "==0.7.1"
sphinx-rtd-theme = "==0.4.3"
pylama = "~=7.7.1"

[requires]
python_version = "3.6"  # ReadTheDocs runtime
