-i https://pypi.org/simple/

sphinx==3.5.4
sphinx-tabs==2.1.0
sphinxemoji==0.1.8
sphinx-rtd-theme==0.5.2
sphinx-autobuild==2021.3.14
pylama==7.7.1
requests==2.25.1
jinja2==2.11.3
strictyaml==1.4.0
pytest==6.2.4
