.rst-content blockquote {
  margin-left: 0;
  padding: 24px 12px 24px 24px;
  border-left: 0.5rem solid #bbb;
  background: #eee;
}

/*
  Fixing margin of illustrations
*/
.rst-content .image-reference img {
  margin-bottom: 12px;
}
