.rst-content blockquote {
  margin-left: 0;
  padding: 24px 12px 1px 24px;
  border-left: 0.5rem solid #bbb;
  background: #eee;
}

/*
  Fixing strange behavior of the RTD theme
*/
.rst-content ul {
  margin-bottom: 12px !important;
}

.rst-content ul:last-child {
  margin-bottom: 0 !important;
}

/*
  Fixing margin of illustrations
*/
.rst-content .image-reference img {
  margin-bottom: 12px;
}
