.rst-content blockquote {
  margin-left: 0;
  padding: 24px 12px 1px 24px;
  border-left: 0.5rem solid #bbb;
  background: #eee;
}

/*
  Fixing strange behavior of the RTD theme
*/
.rst-content .section ol li ul,
.rst-content ol.arabic li ul {
  margin-bottom: 12px;
}

/*
  Fixing margin of illustrations
*/
.rst-content .image-reference img {
  margin-bottom: 12px;
}
