.rst-content blockquote {
  margin-left: 0;
  padding: 24px 12px 1px 24px;
  border-left: 0.5rem solid #bbb;
  background: #eee;
}

/*
  Workaround for https://github.com/djungelorm/sphinx-tabs/pull/35
*/
.rst-content .section ul:last-child,
.rst-content .toctree-wrapper ul:last-child,
article ul:last-child {
  margin-bottom: 24px;
}
.rst-content .tab ul:last-child {
  margin-bottom: 0;
}

/*
  Fixing strange behavior of the RTD theme
*/
.rst-content .section ol li ul,
.rst-content ol.arabic li ul {
  margin-bottom: 12px;
}

/*
  Fixing margin of illustrations
*/
.rst-content .image-reference img {
  margin-bottom: 12px;
}
